---
import Container from "@/components/Container.astro";
import Layout from "@/layouts/Layout.astro";
import Heading1 from "@/components/Heading1.astro";
import ButtonLink from "@/components/ButtonLink.astro";
---

<Layout title="Agostina Giannelli • 404 Not Found">
  <Container>
    <Heading1 h1="404" paragraph="Page not found" />
    <div class="mt-8 text-center">
      <ButtonLink href="/">← Back to About</ButtonLink>
    </div>
  </Container>
</Layout>
