---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import Heading1 from "@/components/Heading1.astro";
import ContactForm from "@/components/ContactForm.astro";
import Info from "@/components/Info.astro";
---

<Layout title="Agostina Giannelli • Contact">
    <Container>
        <Heading1 h1="Contact" paragraph="Interested in connecting?" />
        <div class="grid gap-10 mt-16 md:grid-cols-2">
            <Info
                paragraph="Whether it's for collaboration, opportunities, or just a friendly chat, feel free to reach out. Use the contact form or connect via email."
                href="mailto:agostinagiannelli@gmail.com"
                text="agostinagiannelli@gmail.com"
            />
            <ContactForm />
        </div>
    </Container>
</Layout>
