---
import Layout from "@/layouts/Layout.astro";
import MailIcon from "@/components/icons/Mail.astro";
import MapIcon from "@/components/icons/Map.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import Headings from "@/components/Headings.astro";
import Hero from "@/components/Hero.astro";
import Technologies from "@/components/Technologies.astro";
import ContactForm from "@/components/ContactForm.astro";
import Skills from "@/components/Skills.astro";
import Block from "@/components/Block.astro";
---

<Layout
  title="Agostina Giannelli"
  description="Ecommerce | Digital Project Manager | Project Delivery Manager | Product Owner | Frontend Web Developer"
  url="https://agostinagiannelli.com"
>
  <main class="p-6">
    <SectionContainer class="py-24 md:py-36">
      <Hero />
    </SectionContainer>

    <SectionContainer class="space-y-36">
      <SectionContainer id="skills">
        <Headings
          h2="Skills"
          paragraph="Explore my expertise across various domains, each tailored to deliver exceptional results."
        />
        <Skills />
      </SectionContainer>

      <SectionContainer id="technologies">
        <Headings
          h2="Technologies"
          paragraph="Empowering solutions with the latest tech stack, ensuring seamless integration and robust functionality."
        />
        <Technologies />
      </SectionContainer>

      <Block />

      <SectionContainer id="contact">
        <Headings h2="Contact" paragraph="Feel free to reach out." />
        <div class="grid gap-10 mt-16 md:grid-cols-2">
          <div>
            <p class="text-lg tracking-tight text-slate-600 dark:text-white">
              Fill up the form or drop me an email.
            </p>
            <div class="mt-5">
              <div
                class="flex items-center mt-2 space-x-2 text-slate-600 dark:text-white"
              >
                <MailIcon class="w-4 h-4" /><a
                  href="mailto:agostinagiannelli@gmail.com"
                  >agostinagiannelli@gmail.com</a
                >
              </div>
              <div
                class="flex items-center mt-2 space-x-2 text-slate-600 dark:text-white"
              >
                <MapIcon class="w-4 h-4" />
                <p>
                  Madrid, Spain
                </p>
              </div>
            </div>
          </div>
          <div>
            <ContactForm />
          </div>
        </div>
      </SectionContainer>
    </SectionContainer>
  </main>
</Layout>
