---
import Layout from "@/layouts/Layout.astro";
import Container from "@/components/Container.astro";
import Heading1 from "@/components/Heading1.astro";
import LoginForm from "@/components/LoginForm.astro";
import Info from "@/components/Info.astro";
---

<Layout title="Agostina Giannelli • Login">
    <Container>
        <Heading1 h1="Login" paragraph="Want to explore?" />
        <div class="grid gap-10 mt-16 md:grid-cols-2">
            <Info
                paragraph="Portfolio is password-protected. Simply enter the password to access them, or feel free to reach out if you'd like to request it."
                href="/contact"
                text="Get in Touch"
            />
            <LoginForm />
        </div>
    </Container>
</Layout>
