---
import LinkButton from "./LinkButton.astro";
---

<div
    class="bg-black p-8 md:px-20 md:py-20 mt-20 mx-auto max-w-5xl rounded-lg flex flex-col items-center text-center dark:border dark:border-slate-800 dark:bg-slate-900 dark:text-white"
>
    <h2 class="text-white text-3xl md:text-6xl tracking-tight">
        Thanks for visiting.
    </h2>
    <p class="text-slate-400 dark:text-white mt-4 md:text-xl">
        Looking forward to hearing from you.
    </p>
    <div class="flex mt-5">
        <LinkButton href="#contact" style="inverted">Reach Out</LinkButton>
    </div>
</div>