---
const { href } = Astro.props
---

<a
  href={href}
  class="inline-flex items-center justify-center gap-2 px-4 py-2 space-x-2 text-white transition border rounded-lg text-md bg-slate-900 hover:bg-white hover:text-slate-800 border-slate-600"
>
  <slot />
</a>
