---
const { type } = Astro.props;
---

<button
  type={type}
  class="w-full px-4 py-2 space-x-2 text-white transition border rounded-lg bg-slate-900 text-md hover:bg-white hover:text-slate-800 border-slate-600"
>
  <slot />
</button>
