---
import Button from "@/components/Button.astro";
import Input from "./Input.astro";
---

<form
  action="https://api.web3forms.com/submit"
  method="POST"
  id="form"
  novalidate
>
  <input
    type="hidden"
    name="access_key"
    value="4b4f06ff-917d-45d4-abbc-8102beddff06"
  />
  <input type="checkbox" class="hidden" style="display:none" />
  <div class="mb-5">
    <Input name="name" type="text" placeholder="Full Name" />
    <div class="mt-1 text-sm text-red-400 empty-feedback invalid-feedback">
      Please provide your full name.
    </div>
  </div>
  <div class="mb-5">
    <Input name="email" type="email" placeholder="Email Address" />
    <div class="mt-1 text-sm text-red-400 empty-feedback">
      Please provide your email address.
    </div>
    <div class="mt-1 text-sm text-red-400 invalid-feedback">
      Please provide a valid email address.
    </div>
  </div>
  <div class="mb-3">
    <Input name="message" type="message" placeholder="Your Message" />
    <div class="mt-1 text-sm text-red-400 empty-feedback invalid-feedback">
      Please enter your message.
    </div>
  </div>
  <Button type="submit">Send Message</Button>
  <div id="result" class="mt-3 text-center"></div>
</form>

<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid {
    border-color: #f87171;
  }
</style>

<script src="../utils/contact.js"></script>
