---
import Button from "@/components/Button.astro";
---

<form
  action="https://api.web3forms.com/submit"
  method="POST"
  id="form"
  novalidate
>
  <input
    type="hidden"
    name="access_key"
    value="4b4f06ff-917d-45d4-abbc-8102beddff06"
  />
  <input type="checkbox" class="hidden" style="display:none" />
  <div class="mb-5">
    <input
      id="name"
      name="name"
      type="text"
      placeholder="Full Name"
      required
      class="w-full px-4 py-3 bg-white border outline-none placeholder:text-slate-800 rounded-xl focus:ring-4 border-slate-300 focus:border-slate-600 ring-slate-100 dark:bg-slate-900 dark:text-white dark:placeholder:text-white dark:border-slate-800 dark:focus:border-slate-400 dark:ring-slate-800"
      name="name"
    />
    <div class="mt-1 text-sm text-red-400 empty-feedback invalid-feedback">
      Please provide your full name.
    </div>
  </div>
  <div class="mb-5">
    <input
      id="email"
      name="email"
      type="email"
      placeholder="Email Address"
      required
      class="w-full px-4 py-3 bg-white border outline-none placeholder:text-slate-800 rounded-xl focus:ring-4 border-slate-300 focus:border-slate-600 ring-slate-100 dark:bg-slate-900 dark:text-white dark:placeholder:text-white dark:border-slate-800 dark:focus:border-slate-400 dark:ring-slate-800"
    />
    <div class="mt-1 text-sm text-red-400 empty-feedback">
      Please provide your email address.
    </div>
    <div class="mt-1 text-sm text-red-400 invalid-feedback">
      Please provide a valid email address.
    </div>
  </div>
  <div class="mb-3">
    <textarea
      id="message"
      name="message"
      placeholder="Your Message"
      required
      class="w-full px-4 py-3 bg-white border outline-none placeholder:text-slate-800 rounded-xl focus:ring-4 border-slate-300 focus:border-slate-600 ring-slate-100 dark:bg-slate-900 dark:text-white dark:placeholder:text-white dark:border-slate-800 dark:focus:border-slate-400 dark:ring-slate-800"
    ></textarea>
    <div class="mt-1 text-sm text-red-400 empty-feedback invalid-feedback">
      Please enter your message.
    </div>
  </div>
  <Button type="submit">Send Message</Button>
  <div id="result" class="mt-3 text-center"></div>
</form>

<style>
  .invalid-feedback,
  .empty-feedback {
    display: none;
  }

  .was-validated :placeholder-shown:invalid ~ .empty-feedback {
    display: block;
  }

  .was-validated :not(:placeholder-shown):invalid ~ .invalid-feedback {
    display: block;
  }

  .is-invalid,
  .was-validated :invalid {
    border-color: #f87171;
  }
</style>

<script src="../utils/contact.js"></script>
