---
import LinkedInIcon from "@/assets/icons/LinkedIn.astro";
import MailIcon from "@/assets/icons/Mail.astro";

const currentYear = new Date().getFullYear();
---

<footer class="m-8">
  <div class="text-sm text-center text-slate-400 dark:text-slate-200">
    <p>
      Coded with ❤️ by Agostina Giannelli • {currentYear}.
    </p>
    <p>Built with Astro and Tailwind CSS, deployed with Vercel.</p>
    <div class="flex justify-center space-x-2 mt-2">
      <a
        href="https://linkedin.com/in/agostinagiannelli"
        target="_blank"
        class="text-slate-400 dark:text-slate-200 transition shrink-0 hover:text-slate-600 hover:scale-105"
      >
        <LinkedInIcon class="text-lg" />
      </a>
      <a
        href="mailto:agostinagiannelli@gmail.com"
        class="text-slate-400 dark:text-slate-200 transition shrink-0 hover:text-slate-600 hover:scale-105"
      >
        <MailIcon class="text-lg" />
      </a>
    </div>
  </div>
</footer>
