---
const currentYear = new Date().getFullYear();
---

<footer class="m-12 mt-16">
  <div class="text-center text-sm text-slate-600 dark:text-white">
    <p>
      Coded with ❤️ by Agostina Giannelli · {currentYear}.
    </p>
    <p>Built with Astro and Tailwind CSS, deployed with Vercel. All text is set in MabryPro typeface.</p>
  </div>
</footer>
