---
const { h2, paragraph } = Astro.props;
---

<div class="mx-auto max-w-lg text-center">
    <div>
        <h2
            class="text-4xl tracking-tight font-medium text-slate-800 dark:text-white md:text-5xl font-display"
        >
            {h2}
        </h2>
        <p
            class="mt-4 text-lg mx-auto tracking-tight text-slate-500 dark:text-white"
        >
            {paragraph}
        </p>
    </div>
</div>
