---
import { Image } from "astro:assets";
import Badge from "@/components/Badge.astro";
import SocialPill from "@/components/SocialPill.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import MailIcon from "@/components/icons/Mail.astro";
import DownloadIcon from "@/components/icons/Download.astro";
---

<div class="max-w-2xl">
  <div class="flex gap-4 mb-4">
    <Image
      class="rounded-full shadow-lg dark:border dark:border-slate-600"
      src="/agostinagiannelli.webp"
      alt="Agostina Giannelli"
      width="64"
      height="64"
      loading="eager"
    />
    <a
      href="https://linkedin.com/in/agostinagiannelli"
      target="_blank"
      rel="noopener noreferrer"
      class="flex items-center transition md:justify-center md:hover:scale-105"
    >
      <Badge>Let's connect! 🚀</Badge>
    </a>
  </div>
  <h1
    class="text-4xl font-bold tracking-tight text-slate-800 dark:text-white sm:text-5xl"
  >
    Hey, I'm Agostina
  </h1>
  <p
    class="mt-6 space-y-4 text-xl tracking-tight text-slate-800 dark:text-slate-300 dark:[&>strong]:text-purple-300 [&>strong]:text-purple-400 [&>strong]:font-semibold"
  >
    With over a decade of experience in launching ecommerce platforms and
    optimizing conversion funnels, expertise spans <strong
      >ecommerce strategy</strong
    >,
    <strong>conversion rate optimization (CRO)</strong>, and <strong
      >data-driven decision-making</strong
    >.
    <p
      class="mt-6 space-y-4 text-xl tracking-tight text-slate-800 dark:text-slate-300 dark:[&>strong]:text-purple-300 [&>strong]:text-purple-400 [&>strong]:font-semibold"
    >
      Technical proficiency in web development ensures the delivery of
      user-centric digital products that align with business goals.
    </p>
    <p
      class="mt-6 space-y-4 text-xl tracking-tight text-slate-800 dark:text-slate-300 dark:[&>strong]:text-purple-300 [&>strong]:text-purple-400 [&>strong]:font-semibold"
    >
      Based in Madrid, Spain 🇪🇸.
    </p>
    <div class="flex flex-wrap gap-3 mt-8">
      <SocialPill
        href="https://drive.google.com/file/d/1gLCGyycMS9kac2zzbGWzx4VmaQomanjI/view"
      >
        <DownloadIcon class="size-4" />
        Download CV
      </SocialPill>
      <SocialPill href="mailto:agostinagiannelli@gmail.com">
        <MailIcon class="size-4" />
        Email
        <SocialPill href="https://linkedin.com/in/agostinagiannelli">
          <LinkedInIcon class="size-4" />
          LinkedIn
        </SocialPill>
      </SocialPill>
      <SocialPill href="https://github.com/agostinagiannelli">
        <GitHubIcon class="size-4" />
        GitHub
      </SocialPill>
    </div>
  </p>
</div>
