---
import { Image } from "astro:assets";
import Badge from "@/components/Badge.astro";
import SocialLink from "@/components/SocialLink.astro";
import LinkedInIcon from "@/assets/icons/LinkedIn.astro";
import GitHubIcon from "@/assets/icons/GitHub.astro";
import MailIcon from "@/assets/icons/Mail.astro";
import DownloadIcon from "@/assets/icons/Download.astro";
---

<div class="max-w-3xl mb-24">
  <div class="flex gap-4 mb-4">
    <Image
      class="rounded-full shadow-lg dark:border dark:border-slate-600"
      src="/agostinagiannelli.webp"
      alt="Agostina Giannelli"
      width="64"
      height="64"
      loading="eager"
    />
    <Badge href="https://linkedin.com/in/agostinagiannelli"
      >Let's connect! 🚀</Badge
    >
  </div>
  <h1
    class="text-5xl font-bold text-black lg:text-6xl xl:text-7xl lg:tracking-tight xl:tracking-tighter dark:text-white"
  >
    Hey, I'm Agostina
  </h1>
  <div
    class="mt-6 space-y-4 text-lg tracking-tight text-slate-800 dark:text-slate-200"
  >
    <p>
      10+ years of experience in ecommerce strategy and conversion rate
      optimisation (CRO), driving growth through data-driven, user-centric
      solutions. A strong technical background in web development enables the
      translation of business goals into impactful digital products.
    </p>
    <p>
      Specialised in A/B testing, user behaviour analysis, and agile
      methodologies, fostering effective collaboration across teams.
    </p>
    <p>Fluent in Spanish and English • Based in Madrid, Spain 🇪🇸</p>
  </div>
  <div class="flex flex-wrap gap-3 mt-8">
    <SocialLink
      href="https://drive.google.com/file/d/1gLCGyycMS9kac2zzbGWzx4VmaQomanjI/view"
    >
      <DownloadIcon class="size-4" />
      Download CV
    </SocialLink>
    <SocialLink href="mailto:agostinagiannelli@gmail.com">
      <MailIcon class="size-4" />
      Email
      <SocialLink href="https://linkedin.com/in/agostinagiannelli">
        <LinkedInIcon class="size-4" />
        LinkedIn
      </SocialLink>
    </SocialLink>
    <SocialLink href="https://github.com/agostinagiannelli">
      <GitHubIcon class="size-4" />
      GitHub
    </SocialLink>
  </div>
</div>
