---
const { href } = Astro.props;
---

<a
  href={href}
  class="inline-flex items-center text-lg font-medium text-purple-300 dark:text-purple-200 dark:hover:text-purple-300 hover:text-purple-400"
>
  <slot />
</a>
