---
import AdobeLightLogo from "@/assets/logos/AdobeRed.astro";
import AdobeDarkLogo from "@/assets/logos/AdobeWhite.astro";
import FigmaLogo from "@/assets/logos/Figma.astro";
import GA4Logo from "@/assets/logos/GA4.astro";
import GTMLogo from "@/assets/logos/GTM.astro";
import HotjarLogo from "@/assets/logos/Hotjar.astro";
import JiraLogo from "@/assets/logos/Jira.astro";
import LookerStudioLogo from "@/assets/logos/LookerStudio.astro";
import ShopifyLogo from "@/assets/logos/Shopify.astro";
---

<div class="my-24">
    <h2 class="text-center text-slate-600 dark:text-slate-200">
        Proficient in a wide range of ecommerce and CRO tools
    </h2>
    <div
        class="flex gap-14 md:gap-20 items-center justify-center mt-10 flex-wrap"
    >
        <AdobeLightLogo alt="Adobe" class="size-8 md:size-12 dark:hidden" />
        <AdobeDarkLogo
            alt="Adobe"
            class="size-8 md:size-12 hidden dark:block"
        />
        <GA4Logo alt="Google Analytics 4" class="size-8 md:size-12" />
        <GTMLogo alt="Google Tag Manager" class="size-8 md:size-12" />
        <LookerStudioLogo alt="LookerStudio" class="size-8 md:size-12" />
        <HotjarLogo alt="Hotjar" class="size-8 md:size-12" />
        <JiraLogo alt="Jira" class="size-8 md:size-12" />
        <FigmaLogo alt="Figma" class="size-8 md:size-12" />
        <ShopifyLogo alt="Shopify" class="size-8 md:size-12" />
    </div>
</div>
