---
const { feature } = Astro.props;
---

<div
    class="inline-flex items-center px-3 py-1 text-xs font-medium rounded-full outline outline-1 whitespace-nowrap
  bg-lime-200 text-lime-800 outline-lime-300
  dark:bg-lime-900/30 dark:text-lime-300 dark:outline-lime-700"
>
    {feature}
</div>
