---
import Heading2 from "@/components/Heading2.astro";
import GrowthIcon from "@/assets/icons/Growth.astro";
import EcommerceIcon from "@/assets/icons/Ecommerce.astro";
import ProductIcon from "@/assets/icons/Product.astro";
import ProjectIcon from "@/assets/icons/Project.astro";

const SKILLS = [
  {
    title: "Conversion Rate Optimisation (CRO)",
    description:
      "Specialised in maximising revenue through data-driven insights and A/B testing, focusing on user behaviour and UX principles to optimise conversion performance.",
    icon: GrowthIcon,
  },
  {
    title: "Strategic Ecommerce Growth",
    description:
      "Expert in developing ecommerce strategies that drive growth and modernise sales channels while enhancing customer engagement and user experience.",
    icon: EcommerceIcon,
  },
  {
    title: "User-Centric Product Development",
    description:
      "Creates digital products prioritising user needs and experiences, leveraging feedback and behavioural analysis to boost customer satisfaction.",
    icon: ProductIcon,
  },
  {
    title: "Agile Project Management",
    description:
      "Skilled in working with cross-functional teams using agile methodologies, delivering projects on time while utilising data analytics to inform decisions and drive continuous growth.",
    icon: ProjectIcon,
  },
];
---

<div>
  <Heading2
    h2="Skills"
    paragraph="Leveraging expertise in ecommerce and project management to drive impactful digital growth"
  />
  <div class="grid gap-12 mt-16 sm:grid-cols-2 md:gap-16">
    {
      SKILLS.map(({ title, description, icon: Icon }) => (
        <div class="flex items-start gap-4">
          <div class="w-8 h-8 p-1 mt-1 transition rounded-full bg-slate-800 shrink-0 dark:bg-white md:hover:scale-105">
            <Icon class="text-white dark:text-black" />
          </div>
          <div>
            <h3 class="text-lg font-semibold text-black dark:text-white">
              {title}
            </h3>
            <p class="mt-2 text-slate-500 dark:text-slate-200">{description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
