---
import Heading2 from "@/components/Heading2.astro";
import PipeIcon from "@/assets/icons/Pipe.astro";
import SearchIcon from "@/assets/icons/Search.astro";
import GearIcon from "@/assets/icons/Gear.astro";
import CodeIcon from "@/assets/icons/Code.astro";

const SKILLS = [
  {
    title: "CRO Strategy & Execution",
    description:
      "Skilled in identifying improvement opportunities, forming data-driven hypotheses, and validating them through testing with tools like Adobe Target.",
    icon: PipeIcon,
  },
  {
    title: "Data Analysis & Insights",
    description:
      "Proficient in using Adobe Analytics and GA4 to extract actionable insights that inform business decisions.",
    icon: SearchIcon,
  },
  {
    title: "Cross-Functional Collaboration",
    description:
      "Skilled in managing stakeholders and working closely with UX, development, and business teams to achieve aligned goals.",
    icon: GearIcon,
  },
  {
    title: "Technical & Business Alignment",
    description:
      "Strong web development foundation, ensuring seamless integration of CRO initiatives with overarching business objectives.",
    icon: CodeIcon,
  },
];
---

<div>
  <Heading2
    h2="Skills & Expertise"
    paragraph="Combining technical expertise, strategic insight, and collaborative execution to drive business success"
  />
  <div class="grid gap-12 mt-16 sm:grid-cols-2 md:gap-16">
    {
      SKILLS.map(({ title, description, icon: Icon }) => (
        <div class="flex items-start gap-4">
          <div class="w-8 h-8 p-1 mt-1 transition rounded-full bg-slate-800 shrink-0 dark:bg-white md:hover:scale-105">
            <Icon class="text-white p-0.5 dark:text-black" />
          </div>
          <div>
            <h3 class="text-lg font-semibold tracking-tight text-black dark:text-white">
              {title}
            </h3>
            <p class="mt-2 text-slate-600 dark:text-slate-200">{description}</p>
          </div>
        </div>
      ))
    }
  </div>
</div>
