<a
  {...Astro.props}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex items-center justify-center gap-2 px-4 py-1 transition border rounded-full text-slate-800 bg-slate-100 border-slate-300 dark:bg-slate-800 dark:border-slate-600 dark:text-white focus-visible:ring-purple-400/80 text-md hover:bg-slate-900 hover:border-slate-700 group max-w-fit hover:text-white focus:outline-none focus-visible:outline-none focus-visible:ring focus-visible:ring-white focus-visible:ring-offset-2 active:bg-black md:hover:scale-105"
>
  <slot />
</a>
