---
const { href } = Astro.props;
---

<a
  href={href}
  target="_blank"
  rel="noopener noreferrer"
  class="inline-flex items-center justify-center gap-2 px-4 py-2 space-x-2 transition bg-transparent border rounded-lg text-md text-slate-800 border-slate-600 hover:bg-slate-800 hover:text-slate-200 dark:text-slate-200 dark:hover:text-slate-800 dark:hover:bg-white"
>
  <slot />
</a>
