---
import AstroIcon from "@/components/icons/BrandAstro.astro";
import CSSIcon from "@/components/icons/BrandCSS3.astro";
import HTML5Icon from "@/components/icons/BrandHTML5.astro";
import JavaScriptIcon from "@/components/icons/BrandJavaScript.astro";
import NextJSIcon from "@/components/icons/BrandNextJS.astro";
import ReactIcon from "@/components/icons/BrandReact.astro";
import TailwindIcon from "@/components/icons/BrandTailwind.astro";
import TypeScriptIcon from "@/components/icons/BrandTypeScript.astro";
---

<div class="mt-16">
    <div class="flex flex-wrap items-center text-slate-800 dark:text-white gap-14 md:gap-20 text-center justify-evenly">
        <HTML5Icon class="size-8 md:size-12 carousel-icon" />
        <CSSIcon class="size-8 md:size-12 carousel-icon" />
        <JavaScriptIcon class="size-8 md:size-12 carousel-icon" />
        <TypeScriptIcon class="size-8 md:size-12 carousel-icon" />
        <TailwindIcon class="size-8 md:size-12 carousel-icon" />
        <ReactIcon class="size-8 md:size-12 carousel-icon" />
        <NextJSIcon class="size-8 md:size-12 carousel-icon" />
        <AstroIcon class="size-8 md:size-12 carousel-icon" />
    </div>
</div>

<style>
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .carousel-icon {
        animation: rotate 15s linear infinite;
    }
</style>