---
import ShopifyIcon from "@/components/icons/Shopify.astro";
import GA4Icon from "@/components/icons/GA.astro";
import GTMIcon from "@/components/icons/GTM.astro";
import JiraIcon from "@/components/icons/Jira.astro";
import TrelloIcon from "@/components/icons/Trello.astro";
import HTML5Icon from "@/components/icons/HTML.astro";
import CSSIcon from "@/components/icons/CSS.astro";
import JavaScriptIcon from "@/components/icons/JS.astro";

const TECHNOLOGIES = [
    { name: "Shopify", icon: ShopifyIcon },
    { name: "GA4", icon: GA4Icon },
    { name: "GTM", icon: GTMIcon },
    { name: "Jira", icon: JiraIcon },
    { name: "Trello", icon: TrelloIcon },
    { name: "HTML5", icon: HTML5Icon },
    { name: "CSS3", icon: CSSIcon },
    { name: "JavaScript", icon: JavaScriptIcon },
];
---

<div class="mt-16">
    <div
        class="flex flex-wrap items-center text-slate-800 dark:text-white gap-12 md:gap-28 lg:gap-16 text-center justify-evenly"
    >
        {
            TECHNOLOGIES.map(({ icon: Icon }) => (
                <Icon class="size-8 md:size-12 carousel-icon" />
            ))
        }
    </div>
</div>

<style>
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .carousel-icon {
        animation: rotate 15s infinite;
    }
</style>
