---
import AstroIcon from "@/components/icons/BrandAstro.astro";
import CSSIcon from "@/components/icons/BrandCSS3.astro";
import HTML5Icon from "@/components/icons/BrandHTML5.astro";
import JavaScriptIcon from "@/components/icons/BrandJavaScript.astro";
import NextJSIcon from "@/components/icons/BrandNextJS.astro";
import ReactIcon from "@/components/icons/BrandReact.astro";
import TailwindIcon from "@/components/icons/BrandTailwind.astro";
import TypeScriptIcon from "@/components/icons/BrandTypeScript.astro";

const TECHNOLOGIES = [
    { name: "HTML5", icon: HTML5Icon },
    { name: "CSS3", icon: CSSIcon },
    { name: "JavaScript", icon: JavaScriptIcon },
    { name: "TypeScript", icon: TypeScriptIcon },
    { name: "Tailwind CSS", icon: TailwindIcon },
    { name: "React", icon: ReactIcon },
    { name: "Next.js", icon: NextJSIcon },
    { name: "Astro", icon: AstroIcon },
];
---

<div class="mt-16">
    <div
        class="flex flex-wrap items-center text-slate-800 dark:text-white gap-12 md:gap-28 lg:gap-20 text-center justify-evenly"
    >
        {
            TECHNOLOGIES.map(({ icon: Icon }) => (
                <Icon class="size-8 md:size-12 carousel-icon" />
            ))
        }
    </div>
</div>

<style>
    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    .carousel-icon {
        animation: rotate 15s linear infinite;
    }
</style>
